body {
    margin: 0%;
}

header {
    background-color: rgb(136, 110, 46);
    color: white;
}

#tableHeader img {
    height: 100px;
    padding-top: 5px;
}

#tableHeader {
    width: 100%;
}

#tableHeader td {
    width: 33%;
}

#cellMiddle {
    text-align: center;
    font-size: 40px;
}

#cellRight {
    text-align: right;
}

#cellRight #hamburguer {
    display: none;
}

a {
    text-decoration: none;
    font-size: 17px;
    margin: 1%;
    padding: 5px;
    color: white;
    background-color: gray;
    border: 1px solid;
    border-radius: 20px;
}

a:hover {
    color: rgb(39, 36, 36);
}

h1 {
    text-align: center;
}

section {
    font-size: 20px;
    text-align: justify;
    text-indent: 50px;
    padding: 5px;
}

#welcome {
    text-align: center;
    text-indent: 0%;
    margin: 1%;
}

#tableBody td {
    width: 50%;
}

#tableBody img {
    width: 100%;
}

#tableFooter img {
    width: 100px;
}

#tableFooter td {
    width: 33%;
}

#footerMiddle {
    text-align: center;
    font-size: 20px;
}

#footerRight {
    text-align: right;
}

@media (min-width: 481px) and (max-width: 1208px) {
    #tableHeader a {
        display: none;
    }

    #cellRight #hamburguer {
        display: block;
    }

    #cellLeft {
        text-align: center;
    }

    #cellLeft img {
        width: 110px;
    }

    #cellMiddle {
        font-size: 33px;
    }

    #cellRight {
        text-align: center;
    }

    select {
        display: none;
        font-size: 13px;
        border-radius: 20px;
        border: 1px solid;
        padding: 1px;
    }

    #hamburguer {
        cursor: pointer;
        font-size: 30px;
    }

    option {
        background-color: orange;
    }

    #tableBody td {
        display: block;
        width: 90%;
        padding: 0%;
        margin-left: auto;
        margin-right: auto;
    }

    #tableFooter #footerMiddle {
        font-size: 14px;
    }

    #tableFooter img {
        width: 120px;
    }
}

@media (max-width: 480px) {
    #tableHeader a {
        display: none;
    }

    #hamburguer {
        cursor: pointer;
        font-size: 25px;
    }

    select {
        display: none;
        font-size: 8.5px;
        border-radius: 20px;
        border: 1px solid;
        padding: 1px;
    }

    option {
        background-color: orange;
    }

    #tableHeader img {
        height: 50px;
    }

    #cellLeft {
        text-align: center;
    }

    #cellMiddle {
        font-size: 20px;
    }

    #cellRight {
        text-align: center;
    }

    #cellRight #hamburguer {
        display: block;
    }

    #welcome {
        font-size: 10px;
    }
    
    section {
        font-size: 10px;
    }

    #tableBody td {
        display: block;
        width: 100%;
        padding: 0%;
    }

    #tableFooter #footerMiddle {
        font-size: 8.5px;
    }

    #tableFooter img {
        width: 70px;
    }
}
