body {
    margin: 0%;
    padding: 0%;
}

main {
    text-align: center;
}

h1 {
    color: gray;
    margin: 1%;
}

#pageInitial {
    text-align: right;
    margin-right: 2%;
    margin-top: 2%;
}

#pageInitial a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 8px;
    background-color: gray;
    border-radius: 20px;
    border: 1px solid;
}

#up:hover {
    color: rgb(39, 36, 36);
}

#input input {
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgb(170, 136, 73);
    border-radius: 20px;
}

#backInitial {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards ul {
    margin: 1%;
    padding: 0%;
}

#cards li {
    width: 300px;
    height: 185px;
    border-radius: 20%;
    border: 2px solid rgb(170, 136, 73);
    list-style: none;
    color:  black;
}

h3 {
    margin-top: 10%;
    margin-bottom: 10%;
}

select {
    font-size: 15px;
    border: 2px solid;
    border-radius: 20px;
    padding: 5px;
}

#backInitial a {
    text-decoration: none;
    font-size: 17px;
    margin: 1%;
    padding: 5px;
    color: white;
    background-color: gray;
    border: 1px solid;
    border-radius: 20px;
}

#down:hover {
    color: rgb(39, 36, 36);
}

@media (min-width: 481px) and (max-width: 1208px) {
    * {
        margin: 1%;
    }

    #pageInitial {
        margin-bottom: 3%;
    }

    #pageInitial a {
        font-size: 13px;
    }

    h1 {
        font-size: 25px;
    }

    #input input {
        font-size: 20px;
    }

    #backInitial a {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    * {
        margin: 1%;
    }

    #pageInitial {
        margin-bottom: 3%;
    }

    #pageInitial a {
        font-size: 11px;
    }

    h1 {
        font-size: 20px;
    }

    #input input {
        font-size: 15px;
    }

    #backInitial a {
        font-size: 13px;
    }
}